<launch>
  <arg
    name="model" />
  <param
    name="robot_description"
    textfile="$(find cyrobot_description)/urdf/cyrobot_description.urdf" />
  <node
    name="joint_state_publisher"
    pkg="joint_state_publisher"
    type="joint_state_publisher" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="state_publisher" />
  </launch>
